@font-face {
  font-family: Recoleta;
  src: url("../assets/fonts/Recoleta-Black.ttf");
}
body.ar {
  --flex-row-direction: row-reverse;
  --pos-icon: 2%;
  --direction: rtl;
}

body.en {
  --flex-row-direction: row;
  --pos-icon: 98%;
  --direction: ltr;
}

html, body {
  height: 100%;
  min-height: fit-content;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Recoleta;
  background-color: white;
  display: flex;
  flex-direction: column;
}

img:hover:after {
  content: attr(data);
  padding: 4px 8px;
  border: 1px black solid;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

#main-container {
  min-height: fit-content;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  justify-content: center;
  background-color: #0d4d79;
  box-shadow: 0px 3px 10px black;
  position: sticky;
  top: 0;
}

#header-upper {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo-img {
  width: 25%;
  min-width: 340px;
  justify-self: flex-start;
  cursor: pointer;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d4d79;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer p {
  margin: 0.4em;
  color: white;
}
footer p a:visited {
  color: white;
}
footer p a:hover {
  color: white;
}

input[type=search] {
  border: none;
  background-color: #e2e8f0;
  background-image: url("../assets/images/icons/srch.png");
  background-position: var(--pos-icon);
  background-size: 25px;
  background-repeat: no-repeat;
  border-radius: 2vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  -ms-border-radius: 2vmin;
  -o-border-radius: 2vmin;
  height: 5.5vh;
  min-width: 500px;
  padding: 18px;
  margin: 10px;
  justify-self: flex-start;
}

input[type=search]::after {
  background-color: #e2e8f0;
  border: none;
}

input[type=search]:focus, select:focus {
  border: 1px blue solid;
  outline: none;
}

#lgn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: fit-content;
  height: 80%;
}

#actions-container {
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20%;
  flex-wrap: wrap;
}
#actions-container select {
  border: none;
  background-color: #0d4d79;
  border-radius: 2vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  -ms-border-radius: 2vmin;
  -o-border-radius: 2vmin;
  height: max-content;
  width: auto;
  padding: 10px 10px 10px 10px;
  margin-bottom: 6px;
  border: 2px solid black;
  color: black;
}
#actions-container select:hover {
  cursor: pointer;
}
#actions-container input[type=email], #actions-container input[type=password] {
  border: none;
  background-color: #e2e8f0;
  border-radius: 2vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  -ms-border-radius: 2vmin;
  -o-border-radius: 2vmin;
  height: max-content;
  width: 100%;
  padding: 10px 15px 10px 15px;
}
#actions-container select::after, #actions-container input[type=email]::after, #actions-container input[type=password]::after {
  background-color: #FFF;
  border: 0px;
}
#actions-container img {
  cursor: pointer;
  transition: transform ease-in-out 400ms;
  -webkit-transition: transform ease-in-out 400ms;
  -moz-transition: transform ease-in-out 400ms;
  -ms-transition: transform ease-in-out 400ms;
  -o-transition: transform ease-in-out 400ms;
}
#actions-container img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.loggedout {
  display: none;
}

.loggedin {
  display: flex;
}

.selected-page-dd {
  text-decoration: underline !important;
}

#bedrooms-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 1.35rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  color: #FFF;
  margin-left: 15px;
}
#bedrooms-icon #bedrooms-drpdn {
  display: none !important;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 160px;
  max-height: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0%;
}
#bedrooms-icon #bedrooms-drpdn p {
  padding: 0.8em;
  font-size: 1.1rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  margin: 0%;
  color: white;
  text-decoration: none;
}
#bedrooms-icon #bedrooms-drpdn p:hover {
  background-color: #ddd;
  cursor: pointer;
  color: black !important;
}

#bedrooms-icon:hover #bedrooms-drpdn {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

#bedrooms-icon:hover {
  cursor: pointer;
}

#nav-bar {
  width: 95%;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: var(--flex-row-direction);
}
#nav-bar .line {
  font-size: 1.35rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  color: white;
  margin-left: 15px;
}
#nav-bar .line::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 500ms ease-out;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -ms-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
}
#nav-bar .line:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#nav-bar .line:hover {
  cursor: pointer;
}

#middle-container {
  padding: 35px 0px 35px 0px;
  width: 100%;
  min-height: 90vh;
  background-color: white;
}
#middle-container #grid {
  margin: auto;
  width: 90%;
  min-height: fit-content;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: repeat(auto-fill, 600px);
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 0px 6px black;
  padding-bottom: 5px;
  border-radius: 3vmin;
  -webkit-border-radius: 3vmin;
  -moz-border-radius: 3vmin;
  -ms-border-radius: 3vmin;
  -o-border-radius: 3vmin;
}
.item button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.item button:hover {
  background-color: #374151;
}
.item button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.item img {
  margin-top: 10px;
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
  cursor: pointer;
}
.item .product-img--main {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
  float: left;
  margin: 10px;
}
.item .product-img--main__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.item hr {
  border: 0px;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.item div {
  height: 150px;
  width: 80%;
  font-size: 1.2rem;
}
.item div .info {
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.item div .info .info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  width: fit-content;
}
.item div .info .info-left p {
  width: fit-content;
  margin: 5px 0px 5px 0px;
}
.item div .info img {
  margin: 0%;
  transition: transform ease-in-out 400ms;
  -webkit-transition: transform ease-in-out 400ms;
  -moz-transition: transform ease-in-out 400ms;
  -ms-transition: transform ease-in-out 400ms;
  -o-transition: transform ease-in-out 400ms;
}
.item div .info img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#view-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  min-height: fit-content;
}
#view-item .item {
  width: 90vw;
  height: 750px;
}
#view-item .item img {
  max-width: 80%;
  max-height: 500px;
  width: auto;
  height: auto;
  cursor: default;
}
#view-item .item .info img {
  cursor: pointer;
}
#view-item #item-details {
  width: 90vw;
  height: 400px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 6px black;
  padding-bottom: 5px;
  border-radius: 3vmin;
  -webkit-border-radius: 3vmin;
  -moz-border-radius: 3vmin;
  -ms-border-radius: 3vmin;
  -o-border-radius: 3vmin;
}
#view-item #item-details #detailsH, #view-item #item-details #detailsB {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3vmin;
  -webkit-border-radius: 3vmin;
  -moz-border-radius: 3vmin;
  -ms-border-radius: 3vmin;
  -o-border-radius: 3vmin;
}
#view-item #item-details #detailsH {
  height: 10%;
  font-size: xx-large;
  text-align: center;
}
#view-item #item-details #detailsB {
  direction: var(--direction);
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 1vmin;
}
#view-item #item-details #detailsB div {
  height: 25%;
  width: 80%;
  width: fit-content;
  height: fit-content;
  font-size: 1.5vmax;
}

.selected-page {
  color: black !important;
}

.selected-page::after {
  background-color: black !important;
}

.fav {
  background-color: gold;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  #header {
    justify-content: center;
  }
  #header input[type=search] {
    min-width: 350px;
  }
  #header #header-upper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header #actions-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  #header #nav-bar {
    display: none;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80vw);
  }
  #grid .item {
    width: 80vw !important;
    margin: auto;
  }
  #grid .item img {
    max-width: 60vw !important;
  }
  #view-item {
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .item, #item-details {
    width: 80vw !important;
    margin: auto;
    height: 550px !important;
  }
  .item img, #item-details img {
    max-width: 60vw !important;
    max-height: 300px !important;
  }
}

/*# sourceMappingURL=style.css.map */
